.navbar-brand {
  text-transform: unset !important;
  span > img {
    height: 45px;
    margin-top: -10px;
  }
}

.box-login{
  margin-top:40px;
}

.profile-usertitle {
  margin: 0;
  float: unset;
  text-align: center;
}

.input-lg {
  font-size: 14px;
}

.status-disposisi{
  background: beige;
}

.col-info-disposisi{
  tbody{
    tr{
      th:first-child{
        width: 42%;
      }
    }
  }
}

.navbar-custom {
    background: #3093ce;
}

.paginate_button{
  display: contents !important;
}

.navbar-footer{
  font-size: 12pt;
  color: white;
  line-height: 31px;
}

.dataTables_paginate{
  text-align: right;
}

.active{
  a{
    background-color: #5ac1de !important;
  }
}

.has-error{
  border: 1px solid #f9243f !important;
}

.hidden{
  display: none;
}
